{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Product List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{%url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Product List</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>

              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product name</label>
                  {{ form.name }}
                  </div>
                  </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product description</label>
                  {{ form.description }}
                  </div>
                   </div>


                   <div class="card-body">
                  <div class="mb-3">
                    <label >Product image</label>
                  {{ form.image}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product price</label>
                  {{ form.price}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product category_id</label>
                  {{ form.category}}
                  </div>
                   </div>

                    <div class="card-body">
                  <div class="mb-3">
                    <label >Product service_id</label>
                  {{ form.services}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product country_id</label>
                  {{ form.country}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product area</label>
                  {{ form.aria}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product beds</label>
                  {{ form.beds}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product baths</label>
                  {{ form.baths}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product garages</label>
                  {{ form.garages}}
                  </div>
                   </div>

                  <div class="card-body">
                  <div class="mb-3">
                    <label >Product status</label>
                  {{ form.status}}
                  </div>
                   </div>

                  <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock %}