{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Categories List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{%url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Categories List</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Categories Lists</h3>

                <div class="card-tools">
                    <div class="btn btn-block btn-success"><a href="{% url 'categories_add' %}">Add</a></div>
                </div>
              </div>
                 <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cat in categories %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ cat.name }}</td>
                       <td>{{ cat.created_at }}</td>
                      <td><div class="btn btn-block btn-warning"><a href="{% url 'categories_edit' category_id=cat.id %}">Edit</a></div></td>
                      <td><div class="btn btn-block btn-danger"><a href="{% url 'categories_delete' category_id=cat.id %}">Delete</a></div></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}

